#title{
    background-color: aquamarine;
    color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: lightblue;
}
.headset-img{
    float: left;
    margin-right: 20px;
}
.headset-text{
    margin-left: 20px;
}